
.product-card {
  max-width: 150px;
}

mat-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

mat-card {
  transition: transform 0.2s ease-in-out;
}

input, mat-list-item, .wht { color: #ffffff; }

.sort-dropdown { margin-left: 20px; }

