body { height: 100%; margin: 0; background: #202020;
  color: #ffffff; font-family: verdana; }
h1,h2,h3,h4,h5,h6 { color: #ffffff; font-family: verdana; }
a,a:hover,a:visited { text-decoration: none;  color: #1E90FF; }

main {
  background: #202020; color: #ffffff; font-family: verdana;
  width: 100%; min-height: 100%;
  margin: auto;
  text-align: center;
  padding: 1rem;
  box-sizing: inherit; position: relative;
}
